*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr); }

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  background-color: #c69963;
  color: #f9f7f6;
  padding: 1.8rem 3rem;
  border: none;
  transition: all .2s; }
  .btn:hover {
    cursor: pointer;
    background-color: #B28451; }

.heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-style: italic;
  font-size: 4rem;
  line-height: 1; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase; }
  .heading-3--primary {
    color: #c69963; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--dark {
    color: #54483A; }

.heading-5 {
  font-size: 1.6rem; }
  .heading-5--dark {
    color: #54483A; }
  .heading-5--light {
    color: #f9f7f6;
    background-color: #101d2c; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1; }

.header {
  background-color: #54483A;
  grid-column: 2 / span 7; }

.realtors {
  background-color: #101d2c;
  grid-column: 9 / -1; }

.features {
  grid-column: 3 / 11;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  justify-content: center;
  font-size: 1.6rem;
  margin: 15rem 0; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  align-items: center; }
  .feature__icon {
    fill: #c69963;
    width: 3.8rem;
    height: 3.8rem;
    display: inline;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .feature .heading-4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .feature__desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.7rem;
    align-self: start; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .story__pictures .picture {
    align-self: center; }
    .story__pictures .picture--1 {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
      width: 100%;
      grid-column: 2 / 6;
      grid-row: 2 / 6; }
    .story__pictures .picture--2 {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
      width: 115%;
      z-index: 20;
      grid-row: 4 / 6;
      grid-column: 4 / 7; }

.story__content {
  grid-column: 7 / -1;
  background-color: #f9f7f6;
  padding: 6rem 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .story__content .story__text {
    font-size: 1.5rem;
    font-style: italic; }

.homes {
  margin: 15rem 0;
  grid-column: 3 / 11;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem; }
  .homes .home-card {
    background-color: #f9f7f6;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content); }
    .homes .home-card__picture {
      width: 100%;
      grid-row: 1 / 2; }
    .homes .home-card__heart-icon {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      position: absolute;
      margin: 1rem;
      right: 0;
      top: 0; }
    .homes .home-card__name {
      grid-row: 2 / 3;
      padding: 1.25rem;
      text-align: center;
      width: 85%;
      margin: 0 auto;
      margin-top: -2rem; }
    .homes .home-card__specs-wrap {
      padding: 3rem 2rem;
      grid-row: 3 / 4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem 5rem; }
      .homes .home-card__specs-wrap > div {
        display: flex;
        align-items: center; }
    .homes .home-card__spec-icon {
      width: 2rem;
      height: 2rem;
      fill: #c69963; }
    .homes .home-card__spec-title {
      display: inline;
      font-size: 1.5rem;
      margin-left: 1rem; }
    .homes .home-card .btn {
      grid-row: 4 / 5; }

.gallery {
  background-color: #54483A;
  grid-column: 2 / 12; }

.footer {
  background-color: #101d2c;
  grid-column: 2 / -1; }
