// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    @include respond(tab-land){
        font-size: 50%;
    }
    @include respond(tab-port){
        font-size: 48%;
    }
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: 
        [full-start] $side-bar-col-width 
        [content-start] minmax($side-padding-col-width,1fr) 
        repeat(
            $global-grid-col-count, 
            [col-start] minmax(min-content, $global-grid-max-col-size) [col-end]) 
        [content-end]
        minmax($side-padding-col-width,1fr) [full-end];

    @include respond(tab-port){
        grid-template-rows: 7rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: 
            [content-start] minmax($side-padding-col-width,1fr) 
             repeat(
                $global-grid-col-count, 
                [col-start] minmax(min-content, $global-grid-max-col-size) [col-end]) 
            [content-end]
            minmax($side-padding-col-width,1fr) [full-end];
    }
    
    @include respond(tab-port-1){
        grid-template-rows: 7rem calc(100vh - 7rem) repeat(6, min-content);
    }
}

.btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: $font-display;
    background-color: $color-primary;
    color: $color-grey-light-1;
    padding: 1.8rem 3rem;
    border: none;
    transition: all .2s;
    
    &:hover{
        cursor: pointer;
        background-color: $color-primary-dark;
    }
}