.footer{
    padding: 6rem;
    background-color: $color-secondary;
    grid-column: content-start / -1;

    @include respond(phone){
        padding: 3rem;
    }
    
    &__navigation{
        max-width: $footer-max-width;
        margin: 0 auto;
    }
    
    &__nav-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        @include respond(tab-port-1){
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__nav-item{
        @include respond(tab-port-1){
            width: 15rem;
        }
        padding: 1.5rem;
        transition: all .2s;
        text-align: center;
        @include respond(tab-port-1){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.05);
            transform: translateY(-3px);
        }
    }
    
    &__nav-link, &__nav-link:visited{
        display: inline;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.4rem;
        font-family: $font-display;
    }

    &__copyright-text{
        color: $color-grey-light-2;
        font-size: 1.4rem;
        margin-top: 6rem;
        text-align: center;
    }

    &__course-link, &__course-link:visited{
        color: $color-primary;
        font-family: $font-display;
    }
}