.homes{
    grid-column: col-start 1 / content-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 7rem;
    
    @include respond(tab-port){
        gap: 6rem;
    }
    @include respond(tab-land-1){
        gap: 3rem;
    }

    .home-card{
        background-color: $color-grey-light-1;
        position: relative;
        display: grid;

        &__picture{
            width: 100%;
            grid-row: 1 / 2;
        }

        &__heart-icon{
            fill: $color-primary;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            margin: 1rem;
            right: 0;
            top: 0;
        }

        &__name{
            grid-row: 2 / 3;
            padding: 1.25rem;
            text-align: center;
            width: 85%;
            margin: 0 auto;
            margin-top: -2.5rem;
            
        }
        
        &__specs-wrap{
            padding: 3rem 2rem;
            width: 100%;
            grid-row: 3 / 4;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem 5rem;

            @include respond(tab-port){
                gap: 2rem 3rem;
            }

            > div{
                display: flex;
                align-items: center;
            }
        }

        
        &__spec-icon{
            width: 2rem;
            height: 2rem;
            fill: $color-primary;
        }
        
        &__spec-title{
            display: inline;
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        .btn{
            grid-row: 4 / 5;
        }
    }
}