.sidebar{
    background-color: $color-primary;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    @include respond(tab-port){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: end;
        padding: 1.2rem 2rem;
    }

    &__burger-wrap{
        width: 4.5rem;
        padding: 2rem 0 2rem 0;
        
        &:hover{
            cursor: pointer;
        }
    }
    
    &__burger-icon{
        display: block;
        background-color: white;
        height: .3rem;
        position: relative;
        
        &::after,
        &::before{
            content: "";
            background-color: white;
            width: 100%;
            height: .3rem;
            display: block;
            position: absolute;
        }

        &::after{
            top: 1.5rem;
        }
        &::before{
            top: -1.5rem;
        }    
    }
}