.story{
    &__pictures{
        background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
        background-size: cover;
        grid-column: 2 / 7;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .picture{
            align-self: center;
            &--1{
                box-shadow: 0 2rem 5rem rgba(#000, .1);
                width: 100%;
                grid-column: 2 / 6;
                grid-row: 2 / 6;
            }
            &--2{
                box-shadow: 0 2rem 5rem rgba(#000, .2);
                width: 100% + 15%;
                z-index: 20;
                grid-row: 4 / 6;
                grid-column:  4 / 7;
            }
        }
    }

    
    &__content{
        grid-column: 7 / -1;
        background-color: $color-grey-light-1;
        padding: 6rem 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        .story{
            &__text{
                font-size: 1.5rem;
                font-style: italic;
            }
        }
    }

}