.mb-sm{
    margin-bottom: 2rem;
}
.mb-md{
    margin-bottom: 3rem;
}
.mb-lg{
    margin-bottom: 4rem;
}

.mtb-xl{
    margin: 15rem 0;
    @include respond(tab-land){
        margin: 10rem 0;
    }
    @include respond(tab-port){
        margin: 8rem 0;
    }
}

// CSS grid/design widths 
$global-grid-max-col-size: 14rem;
$global-grid-col-count: 8;
$side-bar-col-width: 8rem;
$footer-max-width: $global-grid-max-col-size * $global-grid-col-count + $side-bar-col-width; 
